# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store

# Env
.env
.env.local
backend/secrets.properties
